body {
	margin: 0;
	padding: 0;
	background: #abc9c4;
	font-style: 'Lato',Helvetica, sans-serif, Arial;
}

.title-fix {
	display: flex;
	-webkit-display: flex;
	padding: 1rem;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	position: relative;
	color: #ffffff;
	border-bottom: thin solid black;

}

.nav{
	display: flex;
	-webkit-display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	position: relative;
	border-bottom: thin solid black;
}

a{
	color: #ffffff;
	text-decoration: none;
	margin: 1rem;
}

.content {
	margin-bottom: 6rem; 
}

.large-img {
	display: flex;
	-webkit-display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	margin-top: 3rem;
}

.resize {
	width: 50%;
	height: 50%;
}

.caption-top {
	display: flex;
	-webkit-display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	font-style: 'Lobster';
	font-size: 15px;
	margin-bottom: 4rem;
}

.side {
	display: flex;
	-webkit-display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	margin-bottom: 2rem;

}

.left-side{
	display: flex;
	-webkit-display: flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	align-items: center;
	-webkit-align-items: center;
}

.right-side{
	display: flex;
	-webkit-display: flex;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	align-items: center;
	-webkit-align-items: center;
}

.social {
	background-color: #ffffff;
	display: flex;
	-webkit-display: flex;
	justify-content: center;
	-webkit-justify-content: center;
}

i {
	padding: 0.75rem 0.75rem 1rem 1rem;
}